<nav id="nav-bar">
  <a href="/">
    <img class="logo" src="/images/bird.png">
    <span class="header">Tweeter</span>
  </a>
  <% if (!user) { %>
    <a href="/register"><span class="nav-button floatright"><button>Register</button></span></a>
    <a href="/login"><span class="nav-button floatright"><button>Login</button></span></a>
  <% } %>
  <% if (user) { %>
    <span class="nav-button floatright" id="logout"><button type="submit">Logout</button></span>
    <span class="nav-button floatright" id="compose"><button><i class="fa fa-pencil-square-o"></i> Compose</button></span>
  <% } %>
</nav>
