<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

  <body>

    <%- include('partials/_navbar') %>

    <!-- Page-specific (main) content here -->
    <main class="container">
      
      <section class="new-tweet">
        <h2>Compose Tweet</h2>
        <form action="/tweets" method="POST" >
          <textarea name="text" rows="3" placeholder="Whatcha thinkin bout?"></textarea>
          <input type="submit" value="Tweet">
          <span class="warning"></span>
          <span class="counter">140</span>
        </form>
      </section>

      <section id="tweetList"></section>

    </main>

  </body>
</html>
