<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

  <body>

    <%- include('partials/_navbar') %>

    <!-- Page-specific (main) content here -->
    <main class="container">

        <h2>Login</h2>
        <% if (messages) { %>
          <% for (key in messages) { %>
            <div class="alert-<%= [key] %>">
              <span><%= messages[key] %></span>
            </div>
            <% } %>
            <br>
        <% } %>

        <section class="user-login">
        <form action="/login" method="POST" >
          <label for="handle">Username</label>
          <br>
          <input type="text" style="width: 50%;" id="handle" name="handle"></input>
          <br>
          <br>
          <label for="password">Password</label>
          <br>
          <input type="password" style="width: 50%;" id="password" name="password"></input>
          <br>
          <br>
          <input type="submit" value="Login">
        </form>
      </section>

    </main>

  </body>
</html>
