<!DOCTYPE html>
<html lang="en">

<%- include('partials/_header') %>

  <body>

    <%- include('partials/_navbar') %>

    <!-- Page-specific (main) content here -->
    <main class="container">

        <h2>Register</h2>
        <% if (messages) { %>
          <% for (key in messages) { %>
            <div class="alert-<%= [key] %>">
              <span><%= messages[key] %></span>
            </div>
            <% } %>
            <br>
        <% } %>

        <section class="user-registration">
        <form action="/users/register" method="POST" >
          <label for="handle">Username*</label>
          <br>
          <input type="text" style="width: 50%;" id="handle" name="handle" placeholder="roy"></input>
          <br>
          <br>
          <label for="name">Name*</label>
          <br>
          <input type="text" style="width: 50%;" id="name" name="name" placeholder="Roy McRoyerson"></input>
          <br>
          <br>
          <label for="email">Email Address*</label>
          <br>
          <input type="text" style="width: 50%;" id="email" name="email" placeholder="roy@royco_roofing.com"></input>
          <br>
          <br>
          <label for="password">Password*</label>
          <br>
          <input type="password" style="width: 50%;" id="password" name="password"></input>
          <br>
          <br>
          <label for="avatar">Avatar URL</label>
          <br>
          <input type="text" style="width: 75%;" id="avatar" name="avatar" placeholder="http://google.com/image.jpg"></input>
          <br>
          <br>
          * Required fields
          <br>
          <br>
          <input type="submit" value="Register">
        </form>
      </section>

    </main>

  </body>
</html>
