#nav-bar {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  height: 80px;
  width: 100%;
  padding: 0 2em;
  background-color: #008ba0;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  line-height: 1.9em;
  font-size: 40px;
  color: #e8fdff;
}

#nav-bar .compose {
  padding: 15px 50px 0;
}

.compose button {
  width: 150px;
  height: 50px;
  background-color: white;
  font-size: 20px;
}
