.tweet {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 0;
}

.tweet:hover header {
  transition: all 0.7s ease;
  background-color: rgba(0, 139, 160, 0.48);
  font-weight: bold;
}

.tweet:hover .tweetbody {
  transition: all 0.7s ease;
}

.tweet:hover .icons {
  transition: all 0.7s ease;
  opacity: 1.0;
}

.tweet header {
  padding: 12px 5px;
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  transition: all 0.5s ease;
}

.usersname {
  vertical-align: top;
  padding-left: 10px;
}

.tweet .tweetbody {
  padding: 15px 5px;
  word-wrap: break-word;
  transition: all 0.5s ease;
}


.tweet footer {
  padding: 10px 5px;
  border-top: 1px solid #eee;
  font-size: 10px;
}

.floatright {
   float: right;
}

.floatleft {
   float: left;
}

.icons {
  opacity: 0.0;
  transition: all 0.5s ease;
}

.icons i {
  padding: 0 4px;
}

.icons .fa-heart:hover {
  color: red;
}

.icons .fa-retweet:hover {
  color: green;
}
